<div class="w-full p-3">
    <!--Table Card-->
    <div class="bg-gray-900 border border-gray-800 rounded shadow">
        <div class="border-b border-gray-800 p-3">
            <h5 class="font-bold uppercase text-gray-600">{{tableData.title}}</h5>
        </div>
        <div class="p-5">
            <table class="w-full p-5 text-gray-700">
                <thead>
                    <tr>
                        {% for header in tableData.headers %}
                            <th class="text-left text-gray-600">{{header}}</th>

                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% if tableData %}
                        {% for row in tableData.data %}
                            <tr>
                                {% for key, value in row %}
                                    <td>{{value}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>
    <!--/table Card-->
</div>