{% extends "../components/layout.njk" %}

{% block content %}

    {% set tableData = {
        data: query,
        headers: [
            "ID",
            "Nickname",
            "First name",
            "Last name",
            "Location",
            "Birthday",
            "Height (cm)",
            "Gender"
        ],
        title: "All people"
    } %}
    {% set buttonText = "person" %}
    {% set color = "pink" %}
    {% include "../components/tableFull.njk" %}

{% endblock %}