{% extends "../components/layout.njk" %}

{% block content %}

    {% set tableData = {
        data: query,
        headers: [
            "ID",
            "City",
            "Street name",
            "Street number",
            "Zip",
            "Country",
            "Code name",
            "Latitude",
            "Longitude"
        ],
        title: "All locations"
    } %}
    {% set buttonText = "location" %}
    {% set color = "purple" %}
    {% include "../components/tableFull.njk" %}

{% endblock %}