<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    <form action="" method="POST">
      <input type="submit" value="Add him">
    </form>
    </main>

    <footer></footer>
  </body>
</html>
